build/
dist/
results/experiments
venv/
graphmb.egg-info/
docs/
results/strong100/graphmb_bins
resultsFiles/
scripts/
docs/
env/
copyRunDocker.txt
password.txt
nodeReserve.txt
results.csv
vscodeScripts
past_runs